/*   Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400; 
  color: #111111;
  font-size: 16px; 
  overflow-x: hidden;
  background: #fff;
}

a{
  text-decoration: none;
}
img{
  max-width: 100%;
}
button {
  cursor: pointer; }

a:focus,
.button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  color: inherit;
  text-decoration: none; }

a,
button {
  color: inherit;
  outline: medium none; }

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }

 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif; 
  color: #003A68;
  margin-top: 0px; 
  font-weight: 700;
  text-transform: normal;
 }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 40px;
  font-weight: 500; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

 .padding{
   padding-right: 0;
 }
 
/* default-css END 
================================== */
 



/* Calender START */
.calendar {
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  overflow: hidden;
}
.ui-datepicker-header {
  height: 32px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  position: relative;
  color: #005395;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  width: 11px;
  height: 11px;
  cursor: pointer;
  position: absolute;
  color: transparent !important;
  overflow: hidden;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-360deg);
  background-image: url(../img/icons/arrow.svg);
  background-size: 100% 100%;
  /* display: none !important; */
} 
.ui-datepicker-next{
  transform: translateY(-50%) rotate(-180deg);
} 
.ui-datepicker-prev {
  right: 40px;
} 
.ui-datepicker-prev:after {
transform: rotate(45deg);
margin: -43px 0px 0px 8px;
}
.ui-datepicker-next {
float: right;
margin-right: 12px;
}
.ui-datepicker-next:after {
transform: rotate(-135deg);
margin: -43px 0px 0px 6px;
} 
.ui-datepicker-title {
text-align: left;
}
.ui-datepicker-calendar {
width: 100%;
text-align: center;
}
.ui-datepicker-calendar thead tr th span {
  font-weight: 600;
  font-size: 12px;
  font-feature-settings: 'tnum' on, 'lnum' on;
  color: #000000;
}
.ui-datepicker-calendar tr td {
  border: 1px solid #EDF3F5;
  background: #fff;
  transition: .3s;
} 
.ui-state-default {
display: block;
text-decoration: none;
color: #b5b5b5;
line-height: 40px;
font-size: 12px;
}
.ui-state-default:hover,.ui-state-active {
  background: #005395;
  color: #fff; 
} 
.ui-datepicker-unselectable .ui-state-default {
color: #eee;
border: 2px solid transparent;
}
/* Calender END */




/* Searchbar css START */
.search_bar {
  position: relative;
}

.search_bar .mainSearchBox {
  position: absolute;
  right: 50px;
  top: -10px;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  z-index: 9;
}
.mainSearchBox.show{
  opacity: 1;
  visibility: visible;
  right: 60px;
}
.search_bar img {
  cursor: pointer;
}
/* Searchbar css END */













/* administrator 1st page css START */


.dasboard-area.adm1 {
  display: flex;
  justify-content: space-between;
}

.dasboard-area.adm1 .dashLeft {
  width: 100%;
}

.dashLeft {
  width: 100%;
  position: relative;
  padding: 50px 30px 50px 100px;
}

.dashLeft-menu {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.dashLeft-menu li {
  display: block;
}

.dashLeft-menu li a {
  padding: 15px 20px;
  display: block;
  position: relative;
}

.dashLeft-menu li a span {
  position: absolute;
  top: 50%;
  left: 45px;
  transform: translateY(-50%);
  padding: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;

/* White Gray */
  color: #F9F9FB;
  background: #005395;
  box-shadow: 2px 2px 10px rgba(124, 124, 124, 0.25);
  border-radius: 4px;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
}

.dashLeft-menu li a:after {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #DA4167;
  z-index: 2;
  border-radius: 0px 10px 10px 0;
  transition: .3s;
  opacity: 0;
}

.dashLeft-menu li a:hover:after,.dashLeft-menu li a.active:after {
  opacity: 1;
}

.dashLeft-menu li a:hover span {
  opacity: 1;
  visibility: visible;
  left: 55px;
}
.dashLeft-content .title {
  margin-bottom: 50px;
}

.dashLeft-content .title h5 {
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;

/* Cerise */
  color: #DA4167;
  margin-bottom: 15px;
}

.dashLeft-content .title h2 {
  font-size: 36px;
  line-height: 45px;
/* identical to box height, or 125% */
  letter-spacing: 1px;

/* Darkest blue */
  color: #003A68;
}
.adminCounts {
  display: flex;
  align-items: flex-start; 
}

.adminCounts .adminCountsLeft {
  display: flex;
  align-items: center;
  background: #F9F9FB;
  border-radius: 8px;
}

.adminCounts .adminCountsLeft .adcBlk {
  padding: 30px;
  text-align: center;
}

.adminCounts .adcBlk > span {
  font-weight: 900;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

.adminCounts .adminCountsLeft .adcBlk p {
  font-size: 20px;
  line-height: 40px;
/* identical to box height, or 200% */
  color: #000000;
  margin: 0;
}

.adminCounts 
.adminCountsRight {
  margin-left: 30px;
  background: #F9F9FB;
  border-radius: 8px;
  padding: 30px;
  width: 100%;
}

.adminCounts .adminCountsRight .adcBlk ul li {
  font-size: 16px;
  line-height: 24px;
/* identical to box height, or 150% */
  letter-spacing: 0.3px;
  color: #000000;
  margin-top: 4px;
}

.adminCounts .adminCountsRight .adcBlk ul li span {
  margin-right: 15px;
}





/* DashRight css STARTED */

.dashRight {
  background: #EDF3F5;
  padding: 30px 40px;
}

.dashRight-wrps h4.searchWithDate {
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;

/* Darkest blue */
  color: #003A68;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  margin-bottom: 50px;
}

.dashRight-wrps h4.searchWithDate img {
  margin-right: 25px;
}

.sideNotifs {
  max-height: 325px;
  overflow: auto;
}
.sideNotifs::-webkit-scrollbar{
  width: 0;
}
.ntfBlk {
  background: #FFFFFF;
  box-shadow: 2px 2px 5px rgba(163, 163, 169, 0.1);
  border-radius: 8px;
  padding: 24px 32px;
  margin-bottom: 15px;
}

.ntfBlk h5 {
  font-weight: 900;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

.ntfBlk p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
/* or 150% */
  letter-spacing: 0.3px;
  color: #000000;
  margin: 0;
}

a.clearAllNtf {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2px;
  text-decoration-line: underline;

/* Dark blue */
  color: #005395;
  display: block;
  margin-top: 25px;
}





/* administrator 1st page css END && DD PAGE css STARTED */










 












